#sun-moon-container {
    --primary-rgb: 255, 255, 255;
    --secondary-rgb: 25, 25, 25;
    --menu-height: 65px;

    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: var(--menu-height);
    text-align: center;
    line-height: var(--menu-height);
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

#sun-moon-container:hover {
    background-color: rgba(var(--secondary-rgb), 0.05);
}

#sun-moon-toggle {
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 2px solid rgba(var(--secondary-rgb), 0);
    transition: border 0.5s, background-color 0.5s;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.moon #sun-moon-toggle {
    border: 2px solid rgb(var(--secondary-rgb));
    background-color: rgb(var(--primary-rgb));
}

#main-circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: rgb(var(--secondary-rgb));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    transition: background-color 0.5s;
}

#main-circle:after {
    content: "";
    border-radius: 50%;
    background-color: rgb(var(--primary-rgb));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(calc(-50% + 3.5px), calc(-50% - 1.5px), 0) scale(1);
    width: 8px;
    height: 9px;
    z-index: 2;
    transition: transform 0.5s, background-color 0.5s;
}

.sun #main-circle:after {
    transform: translate3d(calc(-50% + 4px), calc(-50% - 4px), 0) scale(0);
    background-color: rgb(var(--secondary-rgb));
}

.sun-rays {
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: rgb(var(--secondary-rgb));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    z-index: 0;
    opacity: 0;
}

.sun .sun-rays {
    opacity: 1;
}

.sun #sun-ray-1 {
    transform: translate3d(-50%, calc(-50% - 10.5px), 0);
}

.sun #sun-ray-2 {
    transform: translate3d(calc(-50% + 7.5px), calc(-50% - 7.5px), 0);
    transition-delay: 0.05s;
}

.sun #sun-ray-3 {
    transform: translate3d(calc(-50% + 10.5px), -50%, 0);
    transition-delay: 0.1s;
}

.sun #sun-ray-4 {
    transform: translate3d(calc(-50% + 7.5px), calc(-50% + 7.5px), 0);
    transition-delay: 0.15s;
}

.sun #sun-ray-5 {
    transform: translate3d(-50%, calc(-50% + 10.5px), 0);
    transition-delay: 0.2s;
}

.sun #sun-ray-6 {
    transform: translate3d(calc(-50% - 7.5px), calc(-50% + 7.5px), 0);
    transition-delay: 0.25s;
}

.sun #sun-ray-7 {
    transform: translate3d(calc(-50% - 10.5px), -50%, 0);
    transition-delay: 0.3s;
}

.sun #sun-ray-8 {
    transform: translate3d(calc(-50% - 7.5px), calc(-50% - 7.5px), 0);
    transition-delay: 0.35s;
}
