@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hack to get rid of the undesired behavior for G:'input:-internal-autofill-selected' */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
